<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.indiasupply.isdental"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <application
        android:name="com.indiasupply.isdental.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.indiasupply.isdental.activity.SwiggyMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.indiasupply.isdental.activity.LoginActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.indiasupply.isdental.activity.WelcomeSliderActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.indiasupply.isdental.activity.InformationActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.ShopOnlineActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.CompanyListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.indiasupply.isdental.activity.OffersActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.CompanyDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.EventListActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.EventDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.SpecialEventDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.OrganiserDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.SwiggyServiceAddProductActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.indiasupply.isdental.activity.SwiggyMyProductDetailActivity"
                  android:screenOrientation="portrait"/>


        <!--  <activity android:name="com.indiasupply.isdental.activity.SwiggyMainActivity"
                    android:screenOrientation="portrait">
          </activity>
  -->
        <activity android:name="com.indiasupply.isdental.activity.SwiggyEventDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.SwiggyCompanyDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SwiggyIntroActivity"
                  android:theme="@style/WelcomeScreenTheme"/>

        <activity android:name=".activity.SwiggyLoginActivity"
                  android:theme="@style/WelcomeScreenTheme"/>


        <service android:name="com.indiasupply.isdental.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.indiasupply.isdental.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.indiasupply.isdental.receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.indiasupply.isdental.receiver.NotificationReceiver">
        </receiver>


        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="b2b4c756b3b88a72891033fa275309db"/>

    </application>

</manifest>
