<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.indiasupply.isdental"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!--
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
-->

    <application
        android:name="com.indiasupply.isdental.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.indiasupply.isdental.activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.SwiggyServiceAddProductActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.indiasupply.isdental.activity.SwiggyMyProductDetailActivity"
                  android:screenOrientation="portrait"/>


        <!--  <activity android:nacom.indiasupply.isdental.activity.MainActivity                    android:screenOrientation="portrait">
          </activity>
  -->
        <activity android:name="com.indiasupply.isdental.activity.EventDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.OfferCheckoutActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.CompanyDetailActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.indiasupply.isdental.activity.IntroActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/WelcomeScreenTheme"/>

        <activity android:name="com.indiasupply.isdental.activity.LoginActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/LoginScreenTheme"
                  android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.indiasupply.isdental.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="indiasupply.com" android:scheme="http"/>
                <data android:host="indiasupply.com" android:scheme="https"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.indiasupply.isdental.activity.MyAccountActivity"
            android:screenOrientation="portrait"/>


        <service android:name="com.indiasupply.isdental.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.indiasupply.isdental.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.indiasupply.isdental.receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.indiasupply.isdental.receiver.NotificationReceiver">
        </receiver>

        <meta-data android:name="com.bugsnag.android.API_KEY"
                   android:value="b2b4c756b3b88a72891033fa275309db"/>


        <!--
            Test API key : rzp_test_oBHRdTGwmznfmX
            Live API key : rzp_live_es7lznyiksIodz
        -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_es7lznyiksIodz"/>

    </application>

</manifest>
